.ant-drawer-right .ant-drawer-content-wrapper {
  height: 100% !important;
}

.ant-drawer-content-wrapper {
  margin-top: 110px;
}

.container-fluid{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.c-main{
  padding-top: 0rem;
}

.ant-checkbox-group-item {
  display: block !important;
  margin-right: 0!important;
  margin-top: 5px;
}